{% extends "main/base.html" %}
{% block content %}
<main> 
    <table class="table table-striped">
        <thead>
    
            <tr>
              <th scope="col">Полное имя</th>
              <th scope="col">Адресс</th>
              <th scope="col">Дата рождения</th>
              <th scope="col">Номер телефона</th>
              <th scope="col">Дата регистрации</th>
            </tr>
            
          </thead>
          <tbody>
            <tr>
              <td scope="col">{{ client.full_name }}</td>
              <td scope="col">{{ client.address }}</td>
              <td scope="col">{{ client.dob }}</td>
              <td scope="col">{{ client.phone_number }}</td>
              <td scope="col">{{ client.registration_date }}</td> 
            </tr>
 
          </tbody>
</table>
</main>
{% endblock %}