<div>
    <header>
        
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="{% url 'main:index' %}" class="navbar-brand d-flex align-items-center">
                    <strong>CARSHOP</strong>
                </a>
                <a href="{% url 'automobile:index' %}" class="navbar-brand d-flex align-items-center">Автомобили</a>
                <a href="{% url 'sales:index' %}" class="navbar-brand d-flex align-items-center">Продажи</a>
                <a href="{% url 'users:index' %}" class="navbar-brand d-flex align-items-center">Пользователи</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

</div>